.profile-photo
{
	width: 60%;
	border-radius: 50%;
	margin-top: 50px;
	display: flex;
	height: 60%;
}

.flex
{
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.summary
{
	margin-left: 100px;
	height: 80vh;
	flex-direction: column;
}

.summary > p
{
	margin-top: 1em;
	width: 450px;
	font-family: "Bitter", "sans-serif";
	font-size: 20px;
}

.about
{
	margin-top: 5em;
	background-color: #b2bec3;
	margin-bottom: 5em;
	padding-bottom: 5em;
	background: cover;
}

.about h3
{
	margin-top: 2em;
	text-align: center;
}

.about p
{
	text-align: center;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
}

.about-row
{
	margin-right: 0;
}

.skills-img {
	height: 150px;
	width: 150px;
	margin-top: 30px;
	margin-left: 15px;
}
footer {
	background-color: black;
	height: 80px;
}
.copy {
	color: white;
	font-family: 'Cabin', sans-serif;
	font-size: 20px;
}
.mail {
	display: inline;
}
.instagram {
	display: inline;
	margin-left: 5em;
}
.linkedin {
	display: inline;
	margin-left: 5em;
}
.github {
	display: inline;
	margin-left: 5em;
}